MIX_ENV=dev
HTTP_BINDING_ADDRESS=127.0.0.1
PORT=4000
VIRTUAL_HOST=localhost
URL_PATH=/
SECRET_KEY_BASE=sUZ2Q2Y7TzJk1vJKbGy9Ug/sclc3fZ9umBN9jZLpmjlC86HWam202zdjwFS29vkf
SIGNING_SALT=p4FQ2Zqs1mS/tG2IaomEYyKHyh5y9fKY
CHECK_ORIGIN=false
DNS_CLUSTER_QUERY=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=hakkawine_dev
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_POOL_SIZE=10
DATABASE_TIMEOUT=60000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

MAILER_SERVER=smtp.example.com
MAILER_PORT=587
MAILER_USERNAME=
MAILER_PASSWORD=